ul.lst-kix_gpb2p2pr7v0k-1 {
	list-style-type: none
}

ul.lst-kix_gpb2p2pr7v0k-0 {
	list-style-type: none
}

.lst-kix_ufezumu3m1db-2>li:before {
	content: "\0025a0  "
}

ul.lst-kix_gpb2p2pr7v0k-7 {
	list-style-type: none
}

ul.lst-kix_gpb2p2pr7v0k-6 {
	list-style-type: none
}

.lst-kix_ufezumu3m1db-3>li:before {
	content: "\0025cf  "
}

ul.lst-kix_gpb2p2pr7v0k-8 {
	list-style-type: none
}

ul.lst-kix_gpb2p2pr7v0k-3 {
	list-style-type: none
}

ul.lst-kix_gpb2p2pr7v0k-2 {
	list-style-type: none
}

ul.lst-kix_gpb2p2pr7v0k-5 {
	list-style-type: none
}

.lst-kix_ufezumu3m1db-4>li:before {
	content: "\0025cb  "
}

ul.lst-kix_gpb2p2pr7v0k-4 {
	list-style-type: none
}

ul.lst-kix_rw4kzzpjrib3-1 {
	list-style-type: none
}

ul.lst-kix_rw4kzzpjrib3-2 {
	list-style-type: none
}

.lst-kix_gpb2p2pr7v0k-1>li:before {
	content: "\0025cb  "
}

ul.lst-kix_rw4kzzpjrib3-0 {
	list-style-type: none
}

.lst-kix_ufezumu3m1db-1>li:before {
	content: "\0025cb  "
}

.lst-kix_gpb2p2pr7v0k-0>li:before {
	content: "\0025cf  "
}

.lst-kix_ufezumu3m1db-0>li:before {
	content: "\0025cf  "
}

.lst-kix_gpb2p2pr7v0k-6>li:before {
	content: "\0025cf  "
}

.lst-kix_gpb2p2pr7v0k-7>li:before {
	content: "\0025cb  "
}

.lst-kix_gpb2p2pr7v0k-5>li:before {
	content: "\0025a0  "
}

ul.lst-kix_rw4kzzpjrib3-5 {
	list-style-type: none
}

ul.lst-kix_rw4kzzpjrib3-6 {
	list-style-type: none
}

.lst-kix_gpb2p2pr7v0k-2>li:before {
	content: "\0025a0  "
}

.lst-kix_gpb2p2pr7v0k-3>li:before {
	content: "\0025cf  "
}

ul.lst-kix_rw4kzzpjrib3-3 {
	list-style-type: none
}

ul.lst-kix_rw4kzzpjrib3-4 {
	list-style-type: none
}

.lst-kix_gpb2p2pr7v0k-4>li:before {
	content: "\0025cb  "
}

ul.lst-kix_rw4kzzpjrib3-7 {
	list-style-type: none
}

ul.lst-kix_rw4kzzpjrib3-8 {
	list-style-type: none
}

.lst-kix_ufezumu3m1db-5>li:before {
	content: "\0025a0  "
}

.lst-kix_ufezumu3m1db-7>li:before {
	content: "\0025cb  "
}

.lst-kix_ufezumu3m1db-6>li:before {
	content: "\0025cf  "
}

.lst-kix_gpb2p2pr7v0k-8>li:before {
	content: "\0025a0  "
}

.lst-kix_ufezumu3m1db-8>li:before {
	content: "\0025a0  "
}

.lst-kix_b1q5qxw5qn9a-0>li:before {
	content: "\0025cf  "
}

.lst-kix_b1q5qxw5qn9a-6>li:before {
	content: "\0025cf  "
}

.lst-kix_b1q5qxw5qn9a-8>li:before {
	content: "\0025a0  "
}

.lst-kix_b1q5qxw5qn9a-7>li:before {
	content: "\0025cb  "
}

.lst-kix_b1q5qxw5qn9a-2>li:before {
	content: "\0025a0  "
}

.lst-kix_b1q5qxw5qn9a-1>li:before {
	content: "\0025cb  "
}

.lst-kix_b1q5qxw5qn9a-3>li:before {
	content: "\0025cf  "
}

.lst-kix_b1q5qxw5qn9a-4>li:before {
	content: "\0025cb  "
}

.lst-kix_b1q5qxw5qn9a-5>li:before {
	content: "\0025a0  "
}

.lst-kix_qrs5a9fbkn0s-3>li:before {
	content: "\0025cf  "
}

.lst-kix_rw4kzzpjrib3-8>li:before {
	content: "\0025a0  "
}

.lst-kix_rw4kzzpjrib3-6>li:before {
	content: "\0025cf  "
}

.lst-kix_qrs5a9fbkn0s-1>li:before {
	content: "\0025cb  "
}

.lst-kix_sbctbkh5suyb-7>li:before {
	content: "\0025cb  "
}

.lst-kix_rw4kzzpjrib3-0>li:before {
	content: "\0025cf  "
}

.lst-kix_sbctbkh5suyb-1>li:before {
	content: "\0025cb  "
}

ul.lst-kix_mrwu8byylr1b-7 {
	list-style-type: none
}

.lst-kix_rw4kzzpjrib3-2>li:before {
	content: "\0025a0  "
}

ul.lst-kix_mrwu8byylr1b-8 {
	list-style-type: none
}

ul.lst-kix_nz265uajgpfe-8 {
	list-style-type: none
}

ul.lst-kix_mrwu8byylr1b-5 {
	list-style-type: none
}

.lst-kix_dmd66am81wfh-3>li:before {
	content: "\0025cf  "
}

.lst-kix_dmd66am81wfh-7>li:before {
	content: "\0025cb  "
}

ul.lst-kix_mrwu8byylr1b-6 {
	list-style-type: none
}

ul.lst-kix_mrwu8byylr1b-3 {
	list-style-type: none
}

ul.lst-kix_nz265uajgpfe-5 {
	list-style-type: none
}

.lst-kix_rw4kzzpjrib3-4>li:before {
	content: "\0025cb  "
}

ul.lst-kix_mrwu8byylr1b-4 {
	list-style-type: none
}

ul.lst-kix_nz265uajgpfe-4 {
	list-style-type: none
}

.lst-kix_sbctbkh5suyb-5>li:before {
	content: "\0025a0  "
}

ul.lst-kix_mrwu8byylr1b-1 {
	list-style-type: none
}

ul.lst-kix_nz265uajgpfe-7 {
	list-style-type: none
}

ul.lst-kix_mrwu8byylr1b-2 {
	list-style-type: none
}

ul.lst-kix_nz265uajgpfe-6 {
	list-style-type: none
}

ul.lst-kix_nz265uajgpfe-1 {
	list-style-type: none
}

ul.lst-kix_mrwu8byylr1b-0 {
	list-style-type: none
}

ul.lst-kix_nz265uajgpfe-0 {
	list-style-type: none
}

.lst-kix_sbctbkh5suyb-3>li:before {
	content: "\0025cf  "
}

ul.lst-kix_nz265uajgpfe-3 {
	list-style-type: none
}

.lst-kix_dmd66am81wfh-1>li:before {
	content: "\0025cb  "
}

ul.lst-kix_nz265uajgpfe-2 {
	list-style-type: none
}

.lst-kix_y5lajpktzaow-0>li:before {
	content: "\0025cf  "
}

.lst-kix_dmd66am81wfh-5>li:before {
	content: "\0025a0  "
}

ul.lst-kix_y5lajpktzaow-4 {
	list-style-type: none
}

ul.lst-kix_y5lajpktzaow-5 {
	list-style-type: none
}

ul.lst-kix_y5lajpktzaow-2 {
	list-style-type: none
}

ul.lst-kix_y5lajpktzaow-3 {
	list-style-type: none
}

ul.lst-kix_y5lajpktzaow-8 {
	list-style-type: none
}

ul.lst-kix_y5lajpktzaow-6 {
	list-style-type: none
}

ul.lst-kix_y5lajpktzaow-7 {
	list-style-type: none
}

ul.lst-kix_y5lajpktzaow-0 {
	list-style-type: none
}

ul.lst-kix_y5lajpktzaow-1 {
	list-style-type: none
}

ul.lst-kix_sbctbkh5suyb-1 {
	list-style-type: none
}

ul.lst-kix_sbctbkh5suyb-0 {
	list-style-type: none
}

ul.lst-kix_sbctbkh5suyb-3 {
	list-style-type: none
}

ul.lst-kix_sbctbkh5suyb-2 {
	list-style-type: none
}

ul.lst-kix_sbctbkh5suyb-5 {
	list-style-type: none
}

ul.lst-kix_sbctbkh5suyb-4 {
	list-style-type: none
}

ul.lst-kix_sbctbkh5suyb-7 {
	list-style-type: none
}

ul.lst-kix_sbctbkh5suyb-6 {
	list-style-type: none
}

ul.lst-kix_sbctbkh5suyb-8 {
	list-style-type: none
}

.lst-kix_nz265uajgpfe-8>li:before {
	content: "\0025a0  "
}

ul.lst-kix_dmd66am81wfh-8 {
	list-style-type: none
}

.lst-kix_nz265uajgpfe-6>li:before {
	content: "\0025cf  "
}

.lst-kix_b4aq0gr60uxs-8>li:before {
	content: "\0025a0  "
}

.lst-kix_nz265uajgpfe-5>li:before {
	content: "\0025a0  "
}

.lst-kix_nz265uajgpfe-7>li:before {
	content: "\0025cb  "
}

.lst-kix_nz265uajgpfe-0>li:before {
	content: "\0025cf  "
}

.lst-kix_b4aq0gr60uxs-2>li:before {
	content: "\0025a0  "
}

.lst-kix_b4aq0gr60uxs-3>li:before {
	content: "\0025cf  "
}

.lst-kix_nz265uajgpfe-2>li:before {
	content: "\0025a0  "
}

.lst-kix_b4aq0gr60uxs-0>li:before {
	content: "\0025cf  "
}

.lst-kix_b4aq0gr60uxs-1>li:before {
	content: "\0025cb  "
}

.lst-kix_b4aq0gr60uxs-4>li:before {
	content: "\0025cb  "
}

.lst-kix_b4aq0gr60uxs-5>li:before {
	content: "\0025a0  "
}

.lst-kix_nz265uajgpfe-1>li:before {
	content: "\0025cb  "
}

.lst-kix_nz265uajgpfe-4>li:before {
	content: "\0025cb  "
}

.lst-kix_b4aq0gr60uxs-6>li:before {
	content: "\0025cf  "
}

.lst-kix_b4aq0gr60uxs-7>li:before {
	content: "\0025cb  "
}

.lst-kix_nz265uajgpfe-3>li:before {
	content: "\0025cf  "
}

ul.lst-kix_amg22vq3k08x-3 {
	list-style-type: none
}

.lst-kix_y5lajpktzaow-1>li:before {
	content: "\0025cb  "
}

ul.lst-kix_amg22vq3k08x-4 {
	list-style-type: none
}

ul.lst-kix_amg22vq3k08x-5 {
	list-style-type: none
}

.lst-kix_y5lajpktzaow-2>li:before {
	content: "\0025a0  "
}

ul.lst-kix_amg22vq3k08x-6 {
	list-style-type: none
}

.lst-kix_y5lajpktzaow-3>li:before {
	content: "\0025cf  "
}

ul.lst-kix_amg22vq3k08x-0 {
	list-style-type: none
}

ul.lst-kix_amg22vq3k08x-1 {
	list-style-type: none
}

ul.lst-kix_amg22vq3k08x-2 {
	list-style-type: none
}

.lst-kix_y5lajpktzaow-5>li:before {
	content: "\0025a0  "
}

.lst-kix_y5lajpktzaow-4>li:before {
	content: "\0025cb  "
}

.lst-kix_y5lajpktzaow-6>li:before {
	content: "\0025cf  "
}

ul.lst-kix_amg22vq3k08x-7 {
	list-style-type: none
}

ul.lst-kix_amg22vq3k08x-8 {
	list-style-type: none
}

.lst-kix_y5lajpktzaow-8>li:before {
	content: "\0025a0  "
}

.lst-kix_amg22vq3k08x-1>li:before {
	content: "\0025cb  "
}

.lst-kix_amg22vq3k08x-3>li:before {
	content: "\0025cf  "
}

.lst-kix_y5lajpktzaow-7>li:before {
	content: "\0025cb  "
}

.lst-kix_amg22vq3k08x-2>li:before {
	content: "\0025a0  "
}

.lst-kix_amg22vq3k08x-6>li:before {
	content: "\0025cf  "
}

.lst-kix_mrwu8byylr1b-0>li:before {
	content: "  "
}

.lst-kix_mrwu8byylr1b-1>li:before {
	content: "  "
}

.lst-kix_amg22vq3k08x-5>li:before {
	content: "\0025a0  "
}

.lst-kix_amg22vq3k08x-4>li:before {
	content: "\0025cb  "
}

.lst-kix_qrs5a9fbkn0s-4>li:before {
	content: "\0025cb  "
}

.lst-kix_qrs5a9fbkn0s-5>li:before {
	content: "\0025a0  "
}

.lst-kix_qrs5a9fbkn0s-6>li:before {
	content: "\0025cf  "
}

.lst-kix_qrs5a9fbkn0s-8>li:before {
	content: "\0025a0  "
}

.lst-kix_amg22vq3k08x-0>li:before {
	content: "\0025cf  "
}

.lst-kix_qrs5a9fbkn0s-7>li:before {
	content: "\0025cb  "
}

.lst-kix_mrwu8byylr1b-8>li:before {
	content: "\0025a0  "
}

.lst-kix_mrwu8byylr1b-7>li:before {
	content: "\0025cb  "
}

ul.lst-kix_b1q5qxw5qn9a-0 {
	list-style-type: none
}

ul.lst-kix_b1q5qxw5qn9a-1 {
	list-style-type: none
}

ul.lst-kix_b1q5qxw5qn9a-2 {
	list-style-type: none
}

ul.lst-kix_b1q5qxw5qn9a-3 {
	list-style-type: none
}

.lst-kix_mrwu8byylr1b-4>li:before {
	content: "\0025cb  "
}

.lst-kix_mrwu8byylr1b-3>li:before {
	content: "\0025cf  "
}

.lst-kix_mrwu8byylr1b-5>li:before {
	content: "\0025a0  "
}

.lst-kix_mrwu8byylr1b-2>li:before {
	content: "  "
}

.lst-kix_mrwu8byylr1b-6>li:before {
	content: "\0025cf  "
}

.lst-kix_amg22vq3k08x-7>li:before {
	content: "\0025cb  "
}

.lst-kix_amg22vq3k08x-8>li:before {
	content: "\0025a0  "
}

ul.lst-kix_b1q5qxw5qn9a-4 {
	list-style-type: none
}

ul.lst-kix_b1q5qxw5qn9a-5 {
	list-style-type: none
}

ul.lst-kix_b1q5qxw5qn9a-6 {
	list-style-type: none
}

ul.lst-kix_b1q5qxw5qn9a-7 {
	list-style-type: none
}

ul.lst-kix_b1q5qxw5qn9a-8 {
	list-style-type: none
}

ul.lst-kix_b4aq0gr60uxs-8 {
	list-style-type: none
}

ul.lst-kix_b4aq0gr60uxs-5 {
	list-style-type: none
}

ul.lst-kix_b4aq0gr60uxs-4 {
	list-style-type: none
}

ul.lst-kix_b4aq0gr60uxs-7 {
	list-style-type: none
}

ul.lst-kix_b4aq0gr60uxs-6 {
	list-style-type: none
}

ul.lst-kix_b4aq0gr60uxs-1 {
	list-style-type: none
}

ul.lst-kix_b4aq0gr60uxs-0 {
	list-style-type: none
}

ul.lst-kix_b4aq0gr60uxs-3 {
	list-style-type: none
}

ul.lst-kix_b4aq0gr60uxs-2 {
	list-style-type: none
}

ul.lst-kix_qrs5a9fbkn0s-0 {
	list-style-type: none
}

ul.lst-kix_qrs5a9fbkn0s-1 {
	list-style-type: none
}

.lst-kix_sbctbkh5suyb-8>li:before {
	content: "\0025a0  "
}

ul.lst-kix_qrs5a9fbkn0s-2 {
	list-style-type: none
}

ul.lst-kix_qrs5a9fbkn0s-3 {
	list-style-type: none
}

.lst-kix_qrs5a9fbkn0s-2>li:before {
	content: "\0025a0  "
}

.lst-kix_sbctbkh5suyb-6>li:before {
	content: "\0025cf  "
}

.lst-kix_rw4kzzpjrib3-7>li:before {
	content: "\0025cb  "
}

.lst-kix_qrs5a9fbkn0s-0>li:before {
	content: "\0025cf  "
}

ul.lst-kix_ufezumu3m1db-1 {
	list-style-type: none
}

ul.lst-kix_ufezumu3m1db-2 {
	list-style-type: none
}

ul.lst-kix_ufezumu3m1db-0 {
	list-style-type: none
}

ul.lst-kix_ufezumu3m1db-5 {
	list-style-type: none
}

.lst-kix_dmd66am81wfh-4>li:before {
	content: "\0025cb  "
}

ul.lst-kix_ufezumu3m1db-6 {
	list-style-type: none
}

.lst-kix_sbctbkh5suyb-0>li:before {
	content: "\0025cf  "
}

ul.lst-kix_ufezumu3m1db-3 {
	list-style-type: none
}

ul.lst-kix_ufezumu3m1db-4 {
	list-style-type: none
}

.lst-kix_sbctbkh5suyb-2>li:before {
	content: "\0025a0  "
}

ul.lst-kix_ufezumu3m1db-7 {
	list-style-type: none
}

.lst-kix_rw4kzzpjrib3-3>li:before {
	content: "\0025cf  "
}

ul.lst-kix_ufezumu3m1db-8 {
	list-style-type: none
}

.lst-kix_dmd66am81wfh-0>li:before {
	content: "\0025cf  "
}

.lst-kix_dmd66am81wfh-8>li:before {
	content: "\0025a0  "
}

ul.lst-kix_qrs5a9fbkn0s-8 {
	list-style-type: none
}

.lst-kix_sbctbkh5suyb-4>li:before {
	content: "\0025cb  "
}

.lst-kix_dmd66am81wfh-2>li:before {
	content: "\0025a0  "
}

ul.lst-kix_qrs5a9fbkn0s-4 {
	list-style-type: none
}

ul.lst-kix_qrs5a9fbkn0s-5 {
	list-style-type: none
}

.lst-kix_rw4kzzpjrib3-5>li:before {
	content: "\0025a0  "
}

ul.lst-kix_qrs5a9fbkn0s-6 {
	list-style-type: none
}

ul.lst-kix_qrs5a9fbkn0s-7 {
	list-style-type: none
}

.lst-kix_dmd66am81wfh-6>li:before {
	content: "\0025cf  "
}

.lst-kix_rw4kzzpjrib3-1>li:before {
	content: "\0025cb  "
}

ul.lst-kix_dmd66am81wfh-2 {
	list-style-type: none
}

ul.lst-kix_dmd66am81wfh-3 {
	list-style-type: none
}

ul.lst-kix_dmd66am81wfh-0 {
	list-style-type: none
}

ul.lst-kix_dmd66am81wfh-1 {
	list-style-type: none
}

ul.lst-kix_dmd66am81wfh-6 {
	list-style-type: none
}

ul.lst-kix_dmd66am81wfh-7 {
	list-style-type: none
}

li.li-bullet-0:before {
	margin-left: -18pt;
	white-space: nowrap;
	display: inline-block;
	min-width: 18pt
}

ul.lst-kix_dmd66am81wfh-4 {
	list-style-type: none
}

ul.lst-kix_dmd66am81wfh-5 {
	list-style-type: none
}

ol {
	margin: 0;
	padding: 0
}

table td,
table th {
	padding: 0
}

.c27 {
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #ffffff;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #ffffff;
	vertical-align: top;
	border-right-color: #ffffff;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 283.5pt;
	border-top-color: #ffffff;
	border-bottom-style: solid
}

.c12 {
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #ffffff;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #ffffff;
	vertical-align: top;
	border-right-color: #ffffff;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 291.8pt;
	border-top-color: #ffffff;
	border-bottom-style: solid
}

.c11 {
	border-right-style: solid;
	border-top-width: 0pt;
	border-right-width: 0pt;
	border-top-style: solid;
	border-bottom-width: 0pt;
	border-bottom-style: solid;
	padding-right: 0pt
}

.c16 {
	margin-left: 36pt;
	padding-top: 10pt;
	padding-left: 0pt;
	padding-bottom: 0pt;
	line-height: 1.3;
	orphans: 2;
	widows: 2;
	text-align: left;
	margin-right: -1.5pt
}

.c17 {
	padding-top: 0pt;
	padding-left: 0pt;
	padding-bottom: 0pt;
	line-height: 1.3;
	margin-left: 36pt;
	orphans: 2;
	widows: 2;
	text-align: left
}

.c7 {
	margin-left: -0.8pt;
	padding-top: 10pt;
	padding-bottom: 0pt;
	line-height: 1.3;
	orphans: 2;
	widows: 2;
	text-align: left;
	margin-right: -1.5pt
}

.c10 {
	margin-left: -0.8pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.0;
	orphans: 2;
	widows: 2;
	text-align: left;
	margin-right: -1.5pt
}

.c2 {
	margin-left: 36pt;
	padding-top: 2pt;
	padding-left: 0pt;
	padding-bottom: 0pt;
	line-height: 1.0;
	orphans: 2;
	widows: 2;
	text-align: left
}

.c20 {
	padding-top: 0pt;
	padding-bottom: 10pt;
	line-height: 1.0;
	orphans: 2;
	widows: 2;
	text-align: left;
	margin-right: -0.8pt
}

.c14 {
	color: #373a3c;
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 13pt;
	font-family: "Georgia";
	font-style: normal
}

.c1 {
	color: #373a3c;
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 12pt;
	font-family: "Georgia";
	font-style: normal
}

.c22 {
	padding-top: 20pt;
	padding-bottom: 0pt;
	line-height: 2.0;
	orphans: 2;
	widows: 2;
	text-align: right;
	height: 10pt
}

.c19 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.15;
	orphans: 2;
	widows: 2;
	text-align: left
}

.c23 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.3;
	orphans: 2;
	widows: 2;
	text-align: left
}

.c13 {
	padding-top: 16pt;
	padding-bottom: 0pt;
	line-height: 1.0;
	page-break-after: avoid;
	text-align: left;
	margin-right: -1.5pt
}

.c15 {
	color: #373a3c;
	font-weight: 400;
	font-size: 14pt;
	font-family: "Georgia"
}

.c28 {
	color: #a61b4e;
	font-weight: 700;
	font-size: 16pt;
	font-family: "Georgia"
}

.c18 {
	color: #373a3c;
	font-weight: 400;
	font-size: 10pt;
	font-family: "Georgia"
}

.c25 {
	color: #373a3c;
	font-weight: 700;
	font-size: 13pt;
	font-family: "Georgia"
}

.c21 {
	margin-left: -0.8pt;
	border-spacing: 0;
	border-collapse: collapse;
	margin-right: auto
}

.c4 {
	font-size: 13pt;
	font-family: "Georgia";
	color: #373a3c;
	font-weight: 700
}

.c0 {
	font-size: 11pt;
	font-family: "Georgia";
	color: #373a3c;
	font-weight: 400
}

.c34 {
	color: #f75d5d;
	font-weight: 400;
	font-size: 10pt;
	font-family: "Lato"
}

.c3 {
	font-size: 16pt;
	font-family: "Georgia";
	color: #373a3c;
	font-weight: 400;
}

.c26 {
	color: #1155cc;
	font-weight: 400;
	font-family: "Georgia"
}

.c24 {
	font-family: "Georgia";
	color: #a61b4e;
	font-weight: 400;
}

.c9 {
	text-decoration: none;
	vertical-align: baseline;
	font-style: normal
}

.c6 {
	-webkit-text-decoration-skip: none;
	text-decoration: underline;
	text-decoration-skip-ink: none
}

.c31 {
	background-color: #ffffff;
	max-width: 504.3pt;
	padding: 53.9pt 53.9pt 53.9pt 53.9pt
}

.c8 {
	color: inherit;
	text-decoration: inherit
}

.c5 {
	padding: 0;
	margin: 0
}

.c32 {
	height: 21.8pt
}

.c29 {
	margin-right: -1.5pt
}

.c30 {
	font-size: 12pt
}

.c33 {
	font-size: 24pt;
	font-weight: 700
}

.title {
	padding-top: 0pt;
	color: #000000;
	font-weight: 700;
	font-size: 14pt;
	padding-bottom: 10pt;
	font-family: "Playfair Display";
	line-height: 1.0;
	orphans: 2;
	widows: 2;
	text-align: left
}

.subtitle {
	padding-top: 0pt;
	color: #999999;
	font-size: 9pt;
	padding-bottom: 0pt;
	font-family: "Lato";
	line-height: 1.15;
	orphans: 2;
	widows: 2;
	text-align: left
}

li {
	color: #000000;
	font-size: 10pt;
	font-family: "Lato"
}

p {
	margin: 0;
	color: #000000;
	font-size: 10pt;
	font-family: "Lato"
}

h1 {
	padding-top: 16pt;
	color: #f75d5d;
	font-weight: 700;
	font-size: 14pt;
	padding-bottom: 0pt;
	font-family: "Playfair Display";
	line-height: 1.0;
	page-break-after: avoid;
	text-align: left
}

h2 {
	padding-top: 10pt;
	color: #666666;
	font-size: 9pt;
	padding-bottom: 0pt;
	font-family: "Lato";
	line-height: 1.3;
	orphans: 2;
	widows: 2;
	text-align: left
}

h3 {
	padding-top: 0pt;
	color: #000000;
	font-weight: 700;
	font-size: 11pt;
	padding-bottom: 0pt;
	font-family: "Playfair Display";
	line-height: 1.0;
	orphans: 2;
	widows: 2;
	text-align: left
}

h4 {
	padding-top: 8pt;
	-webkit-text-decoration-skip: none;
	color: #666666;
	text-decoration: underline;
	font-size: 11pt;
	padding-bottom: 0pt;
	line-height: 1.3;
	page-break-after: avoid;
	text-decoration-skip-ink: none;
	font-family: "Trebuchet MS";
	orphans: 2;
	widows: 2;
	text-align: left
}

h5 {
	padding-top: 8pt;
	color: #666666;
	font-size: 11pt;
	padding-bottom: 0pt;
	font-family: "Trebuchet MS";
	line-height: 1.3;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

h6 {
	padding-top: 8pt;
	color: #666666;
	font-size: 11pt;
	padding-bottom: 0pt;
	font-family: "Trebuchet MS";
	line-height: 1.3;
	page-break-after: avoid;
	font-style: italic;
	orphans: 2;
	widows: 2;
	text-align: left
}